[Container]
Image=docker.io/pihole/pihole:latest
Label=io.containers.autoupdate=registry
ContainerName=pihole
Environment=TZ=Europe/Berlin

EnvironmentFile=/${HOME}/.env

PodmanArgs=--dns=9.9.9.9
Volume=/${HOME}/etc-pihole:/etc/pihole:Z
Volume=/${HOME}/etc-dnsmasq:/etc/dnsmasq.d:Z
Volume=/${HOME}/teleport/:/teleport:Z
PublishPort=3037:80
PublishPort=53:53/tcp
PublishPort=53:53/udp

[Service]
Restart=always

[Install]
WantedBy=default.target
