[Service]
Restart=always

[Container]
ContainerName=speedtest-tracker
Image=lscr.io/linuxserver/speedtest-tracker:latest
Label=io.containers.autoupdate=registry

Volume=/${HOME}/speedtest-tracker-config:/config:Z

PublishPort=8088:80

Environment=PUID=1000
Environment=PGID=1000
EnvironmentFile=/${HOME}/.env

[Install]
WantedBy=default.target
