[Unit]
Description=Database for Immich
Name=database
After=immich-network.service
Requires=immich-network.service

[Container]
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
Label=io.containers.autoupdate=registry
ContainerName=database
Network=immich

EnvironmentFile=/${HOME}/.env
Environment=POSTGRES_PASSWORD=${DB_PASSWORD}
Environment=POSTGRES_USER=${DB_USERNAME}
Environment=POSTGRES_DB=${DB_DATABASE_NAME}
Environment=POSTGRES_INITDB_ARGS="--data-checksums"

Volume=/${HOME}/postgres:/var/lib/postgresql/data:Z

Exec=postgres -c shared_preload_libraries=vectors.so -c 'search_path="$$user", public, vectors' -c logging_collector=on -c max_wal_size=2GB -c shared_buffers=512MB -c wal_compression=on

[Service]
Restart=on-failure
RestartSec=10s
