[Unit]
Description=Paperless NGX App
Requires=redis.service tika.service gotenberg.service
After=redis.service tika.service gotenberg.service

[Container]
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
Label=io.containers.autoupdate=registry
ContainerName=paperless-app

PublishPort=8000:8000

Volume=/${HOME}/data:/usr/src/paperless/data:Z
Volume=/${HOME}/media:/usr/src/paperless/media:Z
Volume=/${HOME}/config:/usr/src/paperless/config:Z
Volume=/${HOME}/export:/usr/src/paperless/export:Z
Volume=/${HOME}/consume:/usr/src/paperless/consume:Z

EnvironmentFile=/${HOME}/.env

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
