[Unit]
Description=Redis for Paperless NGX
After=paperless-network.service redisdata-volume.service
Requires=paperless-network.service redisdata-volume.service

[Container]
Image=docker.io/library/redis:alpine
Label=io.containers.autoupdate=registry
ContainerName=paperless-redis
Volume=redisdata:/data
Network=paperless

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
